mpmath
urllib3
typing-extensions
tqdm
sympy
safetensors
sentence_transformers
regex
pyyaml
pillow
packaging
nvidia-nvtx-cu12
nvidia-nvjitlink-cu12
nvidia-nccl-cu12
nvidia-curand-cu12
nvidia-cufft-cu12
nvidia-cuda-runtime-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-cupti-cu12
nvidia-cublas-cu12
numpy
networkx
MarkupSafe
itsdangerous
idna
fsspec
filelock
click
charset-normalizer
certifi
blinker
Werkzeug
triton
requests
nvidia-cusparse-cu12
nvidia-cudnn-cu12
Jinja2
gunicorn
nvidia-cusolver-cu12
huggingface-hub
flask
torch
tokenizers
transformers
torchvision
torchaudio
scikit-learn
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow_intel
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
transformers
tokenizers
safetensors
numpy
scipy
pandas
